body {
    margin: 0;
    font-family: "Courier New", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1A1E20;
    color: #0A8DFF;
}
